
/* 777777777777777777777777777777777777777777777777777777777777777777777777777777777777 */
body {
    background-color: var(--bs-body-color) !important;
    color: #198754 !important;
}

@media (max-width: 991px) {
    #sign-btns-cont {
        justify-content: start !important;
        margin-left: 0;
        padding-left: 0;
    }

    #login-btn {
        margin-left: 0 !important;
    }
}

/* Home page < nav bar && Profile page < nav bar */

#home-a:hover, #profile-a:hover {
    color: white !important;
}

/* // Home page < nav bar && Profile page < nav bar // */

/* sign in alert */
#signin-alert {
    display: none;
}
/* // sign in alert // */

/* log in alert */
#login-alert{
    display: none;
}
/* // log in alert */

/* log out button header */
#logout-btn-header{
    display: none;
}
/* // log out button header // */

/* disabled class */
.disabled {
    color: grey !important;
}
/* // disabled class // */

/* hover username-nav */
#user-div:hover{
    color: white;
    cursor: pointer;
}
/* // hover username-nav // */

/* 777777777777777777777777777777777777777777777777777777777777777777777777777777777777 */

.card {
    box-shadow: 0 15px 15px 1px rgba(255,255,255, 10%);
    margin-right: auto;
    margin-left: auto;
    max-width: 700px;
    background-color: #18211c !important;
    color: white !important;
    border: 1px white solid !important;
}
.card:hover {
    box-shadow: 0 15px 15px 1px rgba(255,255,255, 30%);
}

/* comments */
#comments {
    background-color: #18211c !important;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-left: 5px;
    margin-right: 0;
    border: 1px white solid;
    border-radius: 10px;
    scrollbar-width: none;
    max-height: 900px;
}

@media (max-width: 991px) {
    #comments {
        max-height: 700px;
    }
}

#mainComments {
    margin-top: 10px;
}
.head-comment {
    color: white;
}

.head-comment:hover {
    color: rgb(61, 61, 251);
    cursor: pointer;
}

/* // comments // */